/* Styling for Home page */
.container {
  max-width: 800px;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}

.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
}
